services:
  airflow:
    build:
      context: ./docker/airflow
      dockerfile: Dockerfile
    image: my-airflow
    container_name: airflow
    depends_on:
      - airflow-db
    ports:
      - "8081:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      - AIRFLOW_CONN_SPARK_CONN=spark://spark-master:7077 # if using SparkSubmitOperator
      - AIRFLOW_CONN_SSH_SPARK=ssh://manh:manhtdxxx@spark-master:22 # if using SSHOperator
      - AIRFLOW_CONN_SSH_MODEL=ssh://manh:manhtdxxx@model:22
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create --username airflow --password airflow --firstname manh --lastname td --role Admin --email tdmanh1510@gmail.com || true;
      airflow webserver &
      exec airflow scheduler
      "
    volumes:
      - ./src/dags:/opt/airflow/dags
    networks:
      - common-net

  mlflow:
    build:
      context: ./docker/ml-app
      dockerfile: Dockerfile
    image: my-ml-app:latest
    container_name: mlflow
    depends_on:
      - mlflow-db
    environment:
      MLFLOW_BACKEND_STORE_URI: postgresql://mlflow:mlflow@mlflow-db:5432/mlflow
      MLFLOW_ARTIFACTS_DESTINATION: s3://mlflow-artifacts
      # MLFlow will automatically detect and use these ENVs
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio123
      AWS_REGION: us-east-1
    ports:
      - "5000:5000"
    command: >
      /bin/bash -c "
      /entrypoint.sh
      "
    networks:
      - common-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  airflow-db:
    image: postgres:15-alpine
    container_name: airflow-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5433:5432"
    volumes:
      - airflow-db:/var/lib/postgresql/data
    networks:
      - common-net

  mlflow-db:
    image: postgres:15-alpine
    container_name: mlflow-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflow
    ports:
      - "5434:5432"
    volumes:
      - mlflow-db:/var/lib/postgresql/data
    networks:
      - common-net

  model:
    image: my-ml-app:latest
    container_name: model
    environment:
      # MLFlow will automatically detect and use these ENVs
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio123
      AWS_REGION: us-east-1=value
    command: >
      /bin/bash -c "
      echo manhtdxxx | sudo -S service ssh start &&
      tail -f /dev/null
      "
    volumes:
      - ./src/model:/app
    networks:
      - common-net

  api:
    image: my-ml-app:latest
    container_name: api
    depends_on:
      mlflow:
        condition: service_healthy
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
      # MLFlow will automatically detect and use these ENVs
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio123
      AWS_REGION: us-east-1
    ports:
      - "8000:8000"
    user: root
    command: >
      /bin/bash -c "
      mkdir -p /app/models &&
      uvicorn api:app --host 0.0.0.0 --port 8000 --workers 1
      "
    volumes:
      - ./src/serving/api.py:/app/api.py
      - model_cache:/app/models
    networks:
      - common-net

  ui:
    image: my-ml-app:latest
    container_name: ui
    depends_on:
      - api
    ports:
      - "8501:8501"
    command: >
      /bin/bash -c "
      streamlit run ui.py --server.address 0.0.0.0 --server.port 8501
      "
    volumes:
      - ./src/serving/ui.py:/app/ui.py
      - ./src/model/trino_utils.py:/app/trino_utils.py
    networks:
      - common-net

volumes:
  airflow-db:
    name: airflow-db
  mlflow-db:
    name: mlflow-db
  model_cache:
    name: model-cache

networks:
  common-net:
    external: true
